@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
:root {
  --brand-color: #2c88dd;
  --border-radius: 8px;
  --input-bg: #e9e9e9;
  --input-hover-bg: #d6d6d6;
  --error-color: red;
  --error-bg: #cc2c2c;
  --currency: "$";
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
}
#intakeform .container {
  background-color: #fff;
  max-width: 800px;
  margin: 0 auto;
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
#intakeform fieldset {
  border: none;
  min-inline-size: auto;
  padding: 0;
  margin: 0;
}
#intakeform h1 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--brand-color);
}
#intakeform h2 {
  text-align: center;
  color: var(--brand-color);
}
#intakeform form h3 {
  margin: 0 0 10px 0;
  font-weight: 600;
  font-size: 1.2rem;
}
#intakeform h3.sub-heading {
  text-align: center;
  font-size: 0.8rem;
}
#intakeform form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#intakeform form .forms {
  border: 1px solid rgb(245, 245, 245);
  padding: 15px;
  margin: 5px;
  border-radius: var(--border-radius);
}

#intakeform .forms {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  justify-content: center;
}

#intakeform .important {
  background: var(--error-bg);
  color: #fff;
  box-shadow: 0 0 10px 0 var(--error-bg);
  border-radius: var(--border-radius);
  padding: 1rem;
}

#intakeform form label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  min-height: 50px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 1.1rem;
}

#intakeform label input {
  font-size: 1rem;
}

#intakeform form label:has(input[type="radio"]) {
  font-weight: 500;
  font-size: 1rem;
  min-height: 40px;
}
#intakeform form input,
#intakeform form textarea,
#intakeform select {
  padding: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  border-radius: var(--border-radius);
  accent-color: var(--brand-color);
  background-color: var(--input-bg);
  border: 0;
}
#intakeform form select:hover,
#intakeform form input[type="date"]:hover,
#intakeform form input[type="file"]:hover {
  cursor: pointer;
}
#intakeform form input:hover,
#intakeform select:hover,
#intakeform form textarea:hover,
#intakeform input[type="file"]:hover,
#intakeform form input:focus,
#intakeform select:focus,
#intakeform form textarea:focus {
  background-color: var(--input-hover-bg);
}

#intakeform form input[type="radio"]:hover,
#intakeform form input[type="checkbox"]:hover,
#intakeform form input[type="radio"]:focus,
#intakeform form input[type="checkbox"]:focus {
  box-shadow: inset 0 0 0 0px gray;
}

#intakeform form .select2-container {
  width: 100% !important;
  background: var(--input-bg);
  border-radius: var(--border-radius);
  border: 0;
}
#intakeform form input[type="submit"] {
  background-color: var(--brand-color);
  padding: 10px 30px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  margin-top: 20px;
  color: #fff;
  border: 1px solid var(--brand-color);
  cursor: pointer;
}
#intakeform form input[type="submit"]:hover {
  background-color: #fff;
  color: var(--brand-color);
  border: 1px solid var(--brand-color);
}
#intakeform form input[type="submit"]:active {
  background-color: var(--brand-color);
}
#intakeform form input:focus {
  outline: none;
}
#intakeform form input[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#intakeform form fieldset label:has(span) {
  min-height: 65px;
}

#intakeform form fieldset div.error {
  color: var(--error-color);
  font-size: 12px;
  margin-top: 5px;
  border: 0x solid var(--error-color);
  width: 100%;
  box-shadow: none;
  background-color: transparent;
  min-height: 10px;
  max-height: 15px;
  padding-left: 0px;
  font-weight: 600;
}

#intakeform form fieldset label:has(span) div.error {
  position: absolute;
  top: -20px;
}
#intakeform form fieldset input.error,
#intakeform form fieldset select.error,
#intakeform form fieldset textarea.error {
  border: 1px solid var(--error-color);
}

#intakeform .hidden {
  display: none;
}
#intakeform .visible {
  display: flex;
  flex-direction: column;
}

#intakeform .radio-group label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 0 0 10px 0 rgba(150, 150, 150, 0.1);
  font-weight: 500;
  align-items: center;
  padding: 5px 10px 5px 10px;
  background: var(--input-bg);
  border-radius: var(--border-radius);
}
#intakeform .radio-group label:hover {
  background: var(--input-hover-bg);
  cursor: pointer;
}
#intakeform .tooltip {
  position: relative;
}
#intakeform .tooltip:before {
  content: attr(data-text);
  position: absolute;
  top: -80px;
  left: -9999px;
  width: 300px;
  padding: 10px;
  border-radius: var(--border-radius);
  background: var(--input-bg);
  border: 2px solid var(--brand-color);
  text-align: center;
  font-size: 12px;
  filter: opacity(0);
  transition: filter 0.5s;
}
#intakeform .tooltip:hover:before {
  filter: opacity(1);
  left: 0;
}

#intakeform label:has(span) input {
  padding-left: 25px;
}

#intakeform .file-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: 600;
}

#intakeform .selected-files__reset {
  margin-left: auto;
  background: transparent;
  border: 0;
  color: var(--brand-color);
  font-weight: 600;
  cursor: pointer;
}

#intakeform .selected-files__reset:hover {
  text-decoration: underline;
}

#intakeform .selected-files-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px 0;
  align-items: center;
  border-bottom: 1px solid var(--input-hover-bg);
}

#intakeform .guarantor-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
#intakeform .guarantor-buttons button {
  background: transparent;
  border: 0;
  color: var(--brand-color);
  font-weight: 600;
  cursor: pointer;
}

#intakeform .guarantor-buttons button:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  #intakeform .forms {
    display: grid;
    grid-template-columns: 1fr;
  }
  #intakeform .container {
    min-width: 100%;
  }
  #intakeform form {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  #intakeform .address-fields {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 800px) {
  #intakeform .container {
    min-width: 800px;
  }
  #intakeform .full-span {
    grid-column: span 2;
  }

  #intakeform .address-fields {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
  }
  #intakeform .selected-files,
  #intakeform .guarantor-buttons {
    grid-column: span 2;
  }
}

/* Select 2 Theming, BLN  */

.select2-container {
  min-width: 200px;
}

.select2-container--open .select2-dropdown--below,
.select2-container--open .select2-dropdown--above {
  background: var(--input-bg);
}

.select2-container--bln .select2-container--focus .select2-selection--multiple {
  border: 1px solid var(--input-hover-bg);
}
.select2-container--bln .select2-results__option--highlighted[aria-selected] {
  background: var(--brand-color) !important;
  color: white;
}
.select2-container--bln .select2-results__option[aria-selected="true"] {
  background: var(--input-hover-bg);
  color: white;
  opacity: 0.8;
}
.select2-container--bln .select2-selection--single {
  border-radius: var(--border-radius);
  min-height: 40px;
}
.select2-container--bln.select2-container--open .select2-selection__arrow b {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}
.select2-container--bln span.select2-search input {
  height: 40px !important;
  border: 2px solid #529bdf;
  border-radius: var(--border-radius);
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.select2-container .select2-choice {
  border: 2px solid var(--input-bg);
  height: 36px;
  border-radius: var(--border-radius);
  font-size: 14px;
  text-indent: 1px;
  box-shadow: none;
  background-image: none;
}
.select2-container .select2-choice div {
  border-left: 2px solid var(--input-bg);
  border-radius: 0 4px 4px 0;
  background-clip: padding-box;
}
.select2-container .select2-choice .select2-arrow {
  border: 0px;
  border-radius: 0px;
  background: transparent;
  background-image: none;
}
.select2-container *:focus {
  outline: 0px;
}
.select2-container.select2-drop-above .select2-choice {
  border-bottom-color: var(--input-bg);
  border-radius: var(--border-radius);
}

.select2-drop {
  margin-top: -2px;
  border: 2px solid var(--input-bg);
  border-top: 0;
  border-radius: 0px !important;
  border-radius: 0 0 6px 6px;
  box-shadow: none;
}
.select2-drop.select2-drop-above {
  margin-top: 2px;
  border-top: 2px solid var(--input-bg);
  border-bottom: 0;
  border-radius: 6px 6px 0 0;
  box-shadow: none;
}

.select2-search {
  margin-top: 3px;
}
.select2-search input {
  height: 26px;
  border: 2px solid var(--input-bg);
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  border: 2px solid var(--input-bg);
  outline: none;
  box-shadow: none;
}

.select2-dropdown-open .select2-choice {
  box-shadow: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.select2-dropdown-open .select2-choice .select2-choice div {
  background: transparent;
  border-left: none;
  filter: none;
}

.select2-results {
  padding: 0 0 0 0px;
  margin: 4px 0px 0px 0;
  font-weight: 500;
}
.select2-results .select2-highlighted {
  background: var(--input-hover-bg);
  color: black;
  border-radius: 0px;
}

.select2-container-multi .select2-choices {
  height: auto !important;
  height: 1%;
  border: 2px solid #dce4ec;
}
.select2-container-multi.select2-container-active .select2-choices {
  border: 2px solid #dce4ec;
  border-radius: 6px;
  box-shadow: none;
}

.select2-container--bln .select2-selection--single {
  background: var(--input-bg);
  border: 0px;
  height: 50px;
  font-weight: 500;
}
.select2-container--bln
  .select2-selection--single
  .select2-selection__rendered {
  color: black;
  line-height: 50px;
}
.select2-container--bln .select2-selection--single .select2-selection__arrow {
  height: 40px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}
.select2-container--bln .select2-selection--single .select2-selection__arrow b {
  border-color: black transparent transparent transparent;
  top: 60%;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  width: 0;
}
.select2-container--bln
  .select2-selection--single
  .select2-selection__placeholder {
  color: black;
}
.select2-container--bln .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: 500;
}

.select2-container--bln .select2-selection--multiple {
  border: 1px solid var(--input-hover-bg);
}
.select2-container--bln
  .select2-selection--multiple
  .select2-selection__choice__remove:hover {
  color: var(--input-hover-bg);
  cursor: pointer;
}
.select2-container--bln
  .select2-selection--multiple
  .select2-selection__rendered {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%;
}

.select2-selection__rendered:focus,
.select2-selection__rendered:hover {
  background-color: var(--input-hover-bg);
  border-radius: var(--border-radius);
}
.select2-container--bln
  .select2-selection--multiple
  .select2-selection__choice {
  background-color: var(--input-bg);
  color: black;
  border: 1px solid var(--input-bg);
  border-radius: 0px;
  padding: 3px 5px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
}
.select2-container--bln
  .select2-selection--multiple
  .select2-selection__choice__remove {
  color: var(--input-hover-bg);
  margin-right: 6px;
  margin-left: 6px;
  float: right;
}
.select2-container--open .select2-dropdown {
  left: 0px;
  top: -4px;
  max-height: 350px;
  overflow-y: scroll;
}
.select2-dropdown {
  border: 0px solid #aaa;
}
